ENV=dev

# PostgreSQL DSN (Data Source Name)
# Format: postgres://user:password@host:port/dbname?sslmode=disable
DATABASE_URL=postgres://postgres:password@localhost:5432/gotel?sslmode=disable

HTTP_ADDRESS=0.0.0.0:8080
JWT_SECRET_KEY=sha25612864321684210
